@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700");
body {
  background-color: whitesmoke; }

* {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: border-box; }

:focus {
  outline: 0 !important; }

.btn:focus {
  box-shadow: none; }

a,
div,
h1,
h2,
h3,
h4,
h5,
p,
span {
  text-shadow: none; }

h1,
h2,
h3,
h4,
h5,
.h1,
.h2,
.h3,
.h4,
.h5 {
  font-weight: bold;
  line-height: 1;
  font-family: "Raleway", sans-serif; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.8; }

ul,
ol,
dl {
  padding-left: 1rem;
  font-size: 0.8125rem;
  margin-top: 0; }

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-family: "Raleway", sans-serif; }

img {
  vertical-align: middle;
  border-style: none; }

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block; }

.profile-pic {
  width: 36px;
  height: 36px;
  border-radius: 100%; }

.nowrap {
  white-space: nowrap; }

.badge-main {
  background-color: #2EC4B6;
  color: #fff;
  font-family: inherit; }

.badge-map {
  background-color: #011627;
  color: #fff;
  font-family: inherit; }

.page-body-wrapper {
  padding-top: 70px;
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: row;
  padding-left: 0;
  padding-right: 0; }

/*****************************/
/******** Navbar TOP ********/
/***************************/
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  padding: 0; }

.navbar-brand-wrapper {
  background: #011627;
  transition: width 0.25s ease, background 0.25s ease;
  width: 255px;
  height: 70px; }
  .navbar-brand-wrapper .logo-mini {
    display: none; }
  .navbar-brand-wrapper .navbar-brand {
    padding: 0;
    margin: 0; }
    .navbar-brand-wrapper .navbar-brand img {
      margin-right: auto;
      margin-left: auto;
      width: 80%; }

.navbar-menu-wrapper {
  background: #011627;
  transition: width 0.25s ease, background 0.25s ease;
  padding-left: 15px;
  padding-right: 15px;
  width: calc(100% - 255px);
  height: 70px; }
  .navbar-menu-wrapper .navbar-toggler {
    border: 0;
    color: white; }
  .navbar-menu-wrapper .nav-item {
    color: #fff;
    font-size: 1rem;
    font-weight: 400;
    padding-top: 0;
    padding-bottom: 0; }

.navbar-nav-right {
  margin-left: auto;
  align-items: center;
  flex-direction: row; }
  .navbar-nav-right .nav-item {
    margin-left: 1rem;
    margin-right: 1rem; }
    .navbar-nav-right .nav-item a {
      border: none; }
      .navbar-nav-right .nav-item a .nav-flag {
        width: 20px;
        height: 20px;
        position: relative;
        z-index: 5; }
      .navbar-nav-right .nav-item a i {
        cursor: pointer;
        margin-top: 5px;
        font-size: 1.375rem;
        color: #011627; }
    .navbar-nav-right .nav-item span i {
      color: white;
      margin-top: 0.55rem;
      cursor: pointer;
      font-size: 1.075rem; }

.navbar-nav-search .form-control {
  position: relative;
  display: none;
  margin-right: 0.5rem;
  width: 100%;
  border-radius: 50px;
  font-size: 14px;
  border: none;
  background-color: #2EC4B6;
  color: #fff;
  transition: 0.5s ease-in;
  font-family: "Raleway", sans-serif; }
  .navbar-nav-search .form-control:focus {
    background-color: #011627;
    color: #fff; }

.form-control:focus {
  box-shadow: none !important;
  border-color: #011627; }

.form-control::placeholder {
  color: #fff; }

.nav-item .navbar-dropdown {
  position: absolute;
  font-size: 0.9rem;
  margin-top: 0;
  right: 5px;
  left: auto;
  top: 50px;
  padding: 0;
  z-index: -1;
  cursor: pointer; }

.nav-item .nav-item-icons {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 100%;
  padding: 0;
  text-align: center;
  color: #fff; }
  .nav-item .nav-item-icons i {
    color: white !important; }
  .nav-item .nav-item-icons .count {
    position: absolute;
    left: 12px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 100%;
    background: #2EC4B6;
    top: -3px;
    font-size: .5625rem;
    color: #ffffff;
    text-align: center;
    font-weight: bold; }

.nav-item .dropdown-menu {
  border: none;
  border-radius: 0px;
  box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.2);
  font-family: "Raleway", sans-serif; }
  .nav-item .dropdown-menu .dropdown-item {
    margin-bottom: 0;
    padding: 11px 2rem;
    display: flex;
    align-items: center;
    font-size: 0.95rem;
    color: inherit;
    text-decoration: none; }
    .nav-item .dropdown-menu .dropdown-item .badge-main {
      background-color: #011627; }
    .nav-item .dropdown-menu .dropdown-item .dropdown-p {
      margin: 10px 15px 5px 5px;
      font-weight: 300; }
  .nav-item .dropdown-menu .dropdown-divider {
    margin: 0; }

.dropdown-toggle::after {
  color: white; }

.dropdown-item {
  display: block;
  width: 100%;
  clear: both;
  font-weight: 400;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0; }
  .dropdown-item i {
    font-size: 1.3rem;
    margin-right: .5rem;
    vertical-align: middle;
    width: 30px; }

.badge.badge-pill {
  border-radius: 10rem;
  font-size: 0.95rem;
  font-weight: 400;
  line-height: 1;
  color: #fff;
  padding: .5rem .75rem;
  cursor: pointer;
  border-radius: 0;
  margin-left: 1.5rem; }

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e0e0ef; }

.other-profile {
  cursor: pointer; }
  .other-profile .other-profile-image {
    position: relative; }
  .other-profile .other-profile-content {
    line-height: 1;
    padding-left: 15px;
    flex-grow: 1; }

.dropdown-own-profile {
  top: 70px !important; }
  .dropdown-own-profile .own-profile-image {
    position: relative; }
    .dropdown-own-profile .own-profile-image img {
      width: 70px;
      height: 70px; }
  .dropdown-own-profile .own-profile-content {
    line-height: 1;
    padding-left: 15px; }
    .dropdown-own-profile .own-profile-content p {
      font-size: 0.80rem; }
  .dropdown-own-profile .own-profile-menu {
    margin-top: 0.750rem;
    margin-left: 0.80rem; }

.dropdown-flag {
  background-color: transparent;
  min-width: 20px;
  z-index: 2 !important;
  box-shadow: none !important;
  right: 0 !important;
  top: 38px !important; }
  .dropdown-flag a img {
    width: 20px;
    height: 20px; }
  .dropdown-flag .dropdown-item {
    padding: 0.15rem 0 !important; }
  .dropdown-flag .dropdown-item:hover {
    background-color: transparent; }

.dropdown-item:focus,
.dropdown-item:hover {
  background-color: #2EC4B6; }
  .dropdown-item:focus .other-profile-content,
  .dropdown-item:hover .other-profile-content {
    color: #fff; }
  .dropdown-item:focus p,
  .dropdown-item:focus i,
  .dropdown-item:focus h6,
  .dropdown-item:focus a,
  .dropdown-item:hover p,
  .dropdown-item:hover i,
  .dropdown-item:hover h6,
  .dropdown-item:hover a {
    color: #fff; }

/*****************************/
/*********ANIMATIONS*********/
/***************************/
.dropdown-animation {
  animation: dropdownAnimation;
  animation-duration: 0.40s;
  animation-fill-mode: both;
  animation-timing-function: linear; }

.dropdown-flag-animation {
  animation: dropdownFlagAnimation;
  animation-duration: 0.40s;
  animation-fill-mode: both;
  animation-timing-function: linear; }

.dropdown-second-flag-animation {
  animation: dropdownFlagAnimation;
  animation-duration: 0.40s;
  animation-delay: 450ms;
  animation-fill-mode: both;
  animation-timing-function: linear;
  opacity: 0;
  z-index: -1;
  position: relative; }

@keyframes dropdownAnimation {
  0% {
    opacity: 0;
    transform: translateY(-100%); }
  50% {
    opacity: 1; }
  100% {
    opacity: 1;
    transform: translateY(0%); } }

@keyframes dropdownFlagAnimation {
  0% {
    opacity: 0;
    transform: translateY(-90%); }
  25% {
    opacity: 1; }
  100% {
    opacity: 1;
    transform: translateY(0%); } }

/*****************************/
/*******SIDEBAR LEFT********/
/***************************/
.sidebar {
  min-height: calc(100vh - 70px);
  background: #011627;
  font-weight: 400;
  padding: 0;
  width: 255px;
  z-index: 11;
  transition: width 0.25s ease, background 0.25s ease; }
  .sidebar .nav {
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: column; }
    .sidebar .nav .nav-item {
      transition-duration: 0.25s;
      transition-property: background;
      margin-bottom: 5px; }
      .sidebar .nav .nav-item .nav-link {
        display: flex;
        align-items: center;
        white-space: nowrap;
        padding: 0.75rem 1.875rem 0.75rem 1.875rem;
        color: #fff;
        transition-duration: 0.45s; }
        .sidebar .nav .nav-item .nav-link i.menu-icon {
          font-size: 1.25rem;
          line-height: 1;
          margin-right: 1.5rem;
          color: #fff;
          width: 20px;
          padding: 0.4rem 0; }

.nav-profile .profile-image {
  position: relative; }
  .nav-profile .profile-image img {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    padding: 5px;
    border: 1px solid rgba(120, 130, 140, 0.13); }

.nav-profile .profile-name {
  text-align: left;
  margin-left: .75rem; }
  .nav-profile .profile-name .name {
    color: #fff;
    font-size: 1rem;
    font-weight: bold; }

.sidebar .nav .nav-item.nav-profile .profile-name .name,
.sidebar .nav .nav-item.nav-profile .profile-name .role {
  margin-bottom: 0;
  line-height: 1.5; }

.sidebar .nav .sub-menu {
  margin-top: 0;
  list-style: none;
  padding: 0 0 0 4.25rem; }
  .sidebar .nav .sub-menu .nav-item .nav-link {
    color: #fff;
    padding: 0.75rem 1rem;
    position: relative;
    font-size: 0.8525rem;
    line-height: 1;
    height: auto;
    border-top: 0;
    font-family: "Raleway", sans-serif; }
    .sidebar .nav .sub-menu .nav-item .nav-link:before {
      content: "";
      position: absolute;
      width: 7px;
      height: 7px;
      border-radius: 100%;
      margin-left: -1.25rem;
      top: 15px;
      background: #fff; }

.nav-item .nav-link .menu-title {
  color: inherit;
  display: inline-block;
  font-size: 0.875rem;
  line-height: 1;
  vertical-align: middle;
  font-weight: 700; }

.nav-item .nav-link .fa-angle-right {
  margin-left: auto;
  line-height: 1;
  font-size: 0.975rem; }

.sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-profile) > .nav-link {
  background: #011627;
  color: #fff; }
  .sidebar .nav:not(.sub-menu) > .nav-item:hover:not(.nav-profile) > .nav-link i.menu-icon {
    color: #fff; }

/*****************************/
/********Main Content********/
/***************************/
.main-panel {
  transition: width 0.25s ease, margin 0.25s ease;
  width: calc(100% - 255px);
  min-height: calc(100vh - 70px);
  flex-direction: column; }
  .main-panel .content-wrapper {
    background: whitesmoke;
    padding: 1.5rem 1.7rem;
    width: 100%;
    flex-grow: 1; }
    .main-panel .content-wrapper .page-header {
      margin: 0 0 1.5rem 0; }
      .main-panel .content-wrapper .page-header .page-title {
        color: #000000;
        font-size: 1.5rem;
        margin-bottom: 0; }

.btn-edit {
  background-color: #011627;
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 0.9rem;
  border-radius: 0; }
  .btn-edit i {
    margin-right: 0.5rem; }

.card {
  border-radius: 0;
  border: none;
  background-color: #fff;
  font-family: "Raleway", sans-serif;
  color: #212529; }
  .card .select-rows {
    margin: 1.5rem 0.5rem;
    cursor: pointer;
    width: 100px;
    display: inline-block;
    height: calc(2.25rem + 2px);
    text-align: center;
    padding: 0 0.25rem; }
  .card .order-listing_filter input {
    margin: 1.5rem 0.5rem;
    cursor: pointer;
    width: 150px;
    display: inline-block;
    height: calc(2.25rem + 2px);
    text-align: center;
    padding: 0 0.25rem; }
  .card .table-striped {
    margin-bottom: 0.5rem; }
    .card .table-striped .badge-pill {
      border-radius: 0;
      width: 75px; }
    .card .table-striped .sorting-asc:after {
      opacity: 1 !important; }
    .card .table-striped .sorting {
      cursor: pointer;
      position: relative;
      padding-right: 30px; }
      .card .table-striped .sorting:before {
        line-height: 2.5;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: .65rem;
        position: absolute;
        bottom: 0.9em;
        display: block;
        opacity: 0.3;
        right: 0.2em;
        content: ""; }
      .card .table-striped .sorting:after {
        line-height: 2.5;
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        font-size: .65rem;
        position: absolute;
        bottom: 0.9em;
        display: block;
        opacity: 0.3;
        right: 1.2em;
        content: ""; }
  .card .pagination {
    margin-top: 0.5rem;
    justify-content: flex-end;
    padding-left: 0;
    list-style: none;
    cursor: auto;
    font-size: .875rem; }
    .card .pagination .page-item.disabled .page-link {
      border-radius: 0; }
    .card .pagination .active a {
      background-color: #011627;
      border: 1px solid #011627; }
  .card .page-link {
    color: #212529; }
    .card .page-link:hover {
      background-color: #2EC4B6;
      color: #fff; }
    .card .page-link:focus {
      box-shadow: none; }

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f8f9fa; }

.table-striped tbody tr:last-child {
  border-bottom: 1px solid #dee2e6; }

/*****************************/
/********Media Query*********/
/***************************/
@media (min-width: 992px) {
  .sidebar-icon-only .collapse.show {
    display: none; }
  .sidebar-icon-only .navbar .navbar-brand-wrapper {
    width: 70px; }
    .sidebar-icon-only .navbar .navbar-brand-wrapper .brand-logo {
      display: none; }
    .sidebar-icon-only .navbar .navbar-brand-wrapper .logo-mini {
      display: block; }
  .sidebar-icon-only .navbar .navbar-menu-wrapper {
    width: calc(100% - 70px); }
  .sidebar-icon-only .main-panel {
    width: calc(100% - 70px); }
  .sidebar-icon-only .sidebar {
    width: 70px; }
  .sidebar-icon-only .sidebar .nav {
    overflow: visible; }
    .sidebar-icon-only .sidebar .nav .nav-profile {
      display: none; }
    .sidebar-icon-only .sidebar .nav .nav-item {
      margin-top: 5px;
      position: relative; }
      .sidebar-icon-only .sidebar .nav .nav-item .nav-link {
        display: block;
        padding-left: .5rem;
        padding-right: .5rem;
        text-align: center; }
        .sidebar-icon-only .sidebar .nav .nav-item .nav-link .fa-angle-right {
          display: none; }
        .sidebar-icon-only .sidebar .nav .nav-item .nav-link i.menu-icon {
          margin-right: 0;
          margin-left: 0; }
        .sidebar-icon-only .sidebar .nav .nav-item .nav-link .menu-title {
          display: none; }
  .sidebar-icon-only .sidebar .nav .nav-item.hover-open .nav-link .menu-title {
    display: flex;
    align-items: center;
    color: #ffffff;
    padding: 0.5rem 1.4rem;
    left: 70px;
    position: absolute;
    text-align: left;
    top: 0;
    bottom: 0;
    width: 190px;
    z-index: 1;
    line-height: 1.8;
    background: linear-gradient(85deg, #011627, #2EC4B6); }
  .sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapse,
  .sidebar-icon-only .sidebar .nav .nav-item.hover-open .collapsing {
    display: block;
    z-index: 2;
    background: linear-gradient(95deg, #011627, #2EC4B6);
    position: absolute;
    left: 70px;
    width: 190px;
    box-shadow: 4px 4px 7px 0px rgba(182, 185, 189, 0.25);
    border-top: 1px solid rgba(255, 255, 255, 0.5); }
  .sidebar-icon-only .sidebar .nav.sub-menu {
    padding: 0;
    z-index: 1;
    line-height: 1.8;
    box-shadow: 4px 0px 7px 0px rgba(182, 185, 189, 0.25);
    background: linear-gradient(105deg, #011627, #2EC4B6); }
    .sidebar-icon-only .sidebar .nav.sub-menu a {
      color: #fff !important; } }

@media (max-width: 991px) {
  .navbar-menu-wrapper {
    width: calc(100% - 110px); }
    .navbar-menu-wrapper .navbar-toggler {
      order: 1; }
    .navbar-menu-wrapper .nav-item .navbar-nav-search {
      display: none !important; }
    .navbar-menu-wrapper .nav-item:nth-child(even) {
      display: none; }
    .navbar-menu-wrapper .nav-item {
      margin-left: 0.3rem !important;
      margin-right: 0.3rem !important; }
  .navbar-brand-wrapper {
    width: 110px; }
    .navbar-brand-wrapper .brand-logo {
      display: none; }
    .navbar-brand-wrapper .logo-mini {
      display: flex;
      width: 50% !important; }
  .main-panel {
    margin-left: 0;
    width: 100%; }
  .sidebar-min {
    position: fixed;
    max-height: calc(100vh - 70px);
    top: 70px;
    bottom: 0;
    overflow: auto;
    right: -255px;
    transition: all 0.25s ease-out; }
  .active {
    right: 0;
    transition: all 0.25s ease-out; }
  .order-listing_filter {
    display: none; } }
