$color-main: #011627;
$secondary-color-main: #2EC4B6;

$navbar-color: #011627;
$navbar-content-color: rgb(255, 255, 255);

$sidebar-color: #011627;
$sidebar-content-color: #fff;
$sidebar-icon-only-linear-first:#011627;
$sidebar-icon-only-linear-second: #2EC4B6;

$background-body-wrapper: whitesmoke;
$bg-color:whitesmoke;

$table-color-main:#fff;
$table-color-secondary: #f8f9fa;
$table-color-font: #212529;

$btn-font-color: #fff;
$font-family: 'Raleway',
sans-serif;

